// -----------------------------------------------------------------|
//                   variables                                      |
// -----------------------------------------------------------------|
//-----------------------|
//   grid                |
// ----------------------|

// breakpoints
$small-media: 600px;
$medium-media: 992px;
$large-media: 1200px;

// media queries
$phone: "max-width: $small-media";
$tablet: "min-width: $medium-media";
$desktop: "min-width: $large-media";


// -----------------------------------------------------------------|

$accent-color: #472147;

//  --------------    menu   ---------------------------------------|
$menu-bg-color: transparent;
$menu-border-color: transparent;
$menu-line-color: $accent-color;
$menu-button-size: 52px;
$menu-line-height: 8px;
$menu-line-width: $menu-button-size*0.8;
$menu-line-position-left: (($menu-button-size - $menu-line-width)/2);
$menu-line-position-top: ($menu-button-size - $menu-line-height*3)/4;
// -----------------------------------------------------------------|

// -----------------   circles -------------------------------------|
$circle-count: 120;
// -----------------------------------------------------------------|

// ----------
nav {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 99;
	transform: translateY(-100%);
	.menu-element {
		float: left;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-direction: column;
		box-sizing: border-box;
		width: 50vw;
		height: 50vh;
		@media ($tablet) {
			width: 25vw;
			height: 100vh;
		}
		background-color: $accent-color;
		border: 1px solid white;
		transition: 500ms cubic-bezier(.15,-0.1,.86,1.1);
		cursor: pointer;
		@for $i from 1 through 4 {
			&:nth-child(#{$i}){
				transition-delay: 50ms*$i;
			}
		}
		i {
			color: white;
			font-size: 3rem;
			margin-bottom: 1rem;
		}
		span {
			color: white;
			font-size: 1.7rem;
		}
		&.active {
			transform: translateY(200%);
			@media ($tablet){
				transform: translateY(100%);
			}
		}
	}
}

// ----------
main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	// small logo
	.logo-animated {
		position: absolute;
		top: 20px;
		left: 50%;
		width: 65px;
		height: 65px;
		margin-left: -33px;
		z-index: 9999;
		.background-overlay {
			background-color: #472147;
			width: 65px;
			height: 65px;
			transform: rotate(45deg);
			transition: 400ms linear 200ms;
		}
		span {
			text-transform: uppercase;
			color: white;
			display: block;
			transition: 300ms linear 100ms;
		}
		.m-letter {
			position: absolute;
			top: 16.9px;
			left: 17.225px;
			font-size: 17.55px;
			font-weight: bold;
		}
		.j-letter {
			position: absolute;
			top: 12.35px;
			right: 17.55px;
			font-size: 42.25px;
		}
		.line {
			height: 2px;
			width: 32.5px;
			background-color: white;
			position: absolute;
			top: 39px;
			left: 4.875px;
		}
		&.active-menu-logo {
			.background-overlay {
				background-color: #fff;
			}
			span {
				color: $accent-color;
			}
			.line {
				background-color: $accent-color;
			}
		}
	}
	// -------

	.navigation {
		z-index: 999;
		height: 100px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		.page-title-indented {
			text-indent: -999em;
		}
		.menu-div {
			position: relative;
			left: 25px;
			top: 20px;
			width: $menu-button-size;
			height: $menu-button-size;
			background-color: $menu-bg-color;
			border: 1px solid $menu-border-color;
			// box-shadow: 0px 0px 3px 0px $menu-border-color;
			border-radius: 0.5em;
			overflow: hidden;
			cursor: pointer;
			.menu-line {
				width: $menu-line-width;;
				position: absolute;
				height: $menu-line-height;
				left: $menu-line-position-left;
				background-color: $menu-line-color;
				border-radius: 0.5em;
			}
			%transform-line-1 {
			  transform: rotate(45deg);
			}
			%transform-line-2 {
			  transform: rotate(-45deg);
			}
			%transform-line-3 {
			  transform: translateY($menu-button-size);
			}

			@for $i from 1 through 3 {
			  .line-#{$i}{
			    top: #{($menu-line-height*(($i)-1))+$menu-line-position-top*$i};
			    transition: 400ms ease;
			  }
			  .menu-active.line-#{$i}{
			    @extend %transform-line-#{$i};
			    top: #{$menu-button-size/2-$menu-line-height/2};
			    background-color: #fff;
			  }
			}
			.menu-active {
				background-color: $accent-color;
			}
		}
	}

	.main-content-home {
		height: 100%;
		width: 100%;
		padding-top: 100px;
		// display: flex;
		// justify-content: center;
		.animated-circles {
			margin: 0 auto 0;
			position: relative;
			height: 60vh;
			width: 60vh;
			overflow: hidden;
			transition: 400ms linear;
			@media($tablet){
				height: 60vh;
				width: 60vh;
				margin: 2vh auto 0;
			}
			.circles-container, .circle {
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
			.circles-container {
				border-radius: 50%;
				overflow: hidden;
			}
			.circle {
			  background: rgba(255,255,255,0.05);
			  border-style: solid;
			  border-color: transparent;
			  width: 130px;
			  height: 130px;
			  border-width: 10px;
			  border-color: transparent;
			  border-radius: 100%;
			  transition: 200ms ease;
			}

			@for $i from 1 through $circle-count {
			  @keyframes rotation-circle-#{$i} {
			    from {transform:rotateZ(#{$i+'deg'}) rotateY(#{$i+'deg'}) rotateX(0);}
			    to {transform:rotateZ(#{$i+'deg'}) rotateY(#{$i+'deg'}) rotateX(360deg);}
			  }
			}


			@for $i from 1 through $circle-count {
			  .circle-#{$i} {
			    animation: rotation-circle-#{$i} 2s infinite linear;
			  }
			}
		}
		.title {
			text-align: center;
			font-size: 28px;
			color: $accent-color;
			margin-top: 1em;
		}
		h3 {
			@extend .title;
			font-size: 20px;
			margin-top: 0.5em;
		}
	}
	#about-me {
		height: 100%;
		width: 100vw;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		// background-image: url('../img/bg-stars.jpg');
		// opacity: 0.7;
		// z-index: 1;
		// background-repeat: no-repeat;
		// background-size: cover;
		padding-top: 100px;
		.main-content-about-me {
			margin: 3% auto;
			width: 80%;
			opacity: 1;
			z-index: 2;
			height: 75%;
			border-radius: 0.7em;
			border: 1px solid lightgray;
			// box-shadow: 2px 2px 3px 0 gray;
		}
		h1 {
			font-size: 2em;
			font-weight: bold;
			text-align: center;
			padding: 20px;
		}
	}
	


	.slide-reload {
		background-color: black;
		width: 50vw;
		height: 100vh;
		transition: 200ms linear;
		z-index: 1000;
		&.slide-reload-left {
			position: fixed;
			top: 0;
			transform: translateX(-100%);
			&:after {
				position: absolute;
				right: 0;
				top: 7px;
				display: block;
				content: '';
				width: 0;
				height: 0;
				border-top: 46px solid transparent;
				border-right: 46px solid white;
				border-bottom: 46px solid transparent;
			}
		}
		&.slide-reload-right {
			position: fixed;
			top: 0;
			right: 0;
			transform: translateX(100%);
			&:after {
				position: absolute;
				left: 0;
				top: 6px;
				display: block;
				content: '';
				width: 0;
				height: 0;
				border-top: 46px solid transparent;
				border-left: 46px solid white;
				border-bottom: 46px solid transparent;
			}
		}
	}
	.reload-circle {
		position: absolute;
		border: 5px solid lighten($accent-color,15%);
		border-right-color: transparent;
		border-left-color: transparent;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		margin-left: (-25px);
		margin-top: (-25px);
		animation: rotate 600ms cubic-bezier(0,.6,1,.6) infinite forwards;
		display: none;
		z-index: 1001;
	}
}