//-----------------------|
//   grid                |
// ----------------------|

// breakpoints
$small-media: 600px;
$medium-media: 992px;
$large-media: 1200px;

// media queries
$phone: "only screen and(max-width: #{$small-media})";
$tablet: "only screen and(min-width: #{$medium-media+1})";
$desktop: "only screen and(min-width: #{$large-media+1})";