nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99;
  transform: translateY(-100%); }
  nav .menu-element {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 25vw;
    height: 100vh;
    background-color: gray;
    border: 1px solid white;
    transition: 500ms cubic-bezier(0.15, -0.1, 0.86, 1.1); }
    nav .menu-element:nth-child(1) {
      transition-delay: 50ms; }
    nav .menu-element:nth-child(2) {
      transition-delay: 100ms; }
    nav .menu-element:nth-child(3) {
      transition-delay: 150ms; }
    nav .menu-element:nth-child(4) {
      transition-delay: 200ms; }
    nav .menu-element i {
      color: white;
      font-size: 3rem;
      margin-bottom: 1rem; }
    nav .menu-element span {
      color: white;
      font-size: 1.7rem; }
    nav .menu-element.active {
      transform: translateY(100%); }

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box; }
  main .logo-animated {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 65px;
    height: 65px;
    margin-left: -33px;
    z-index: 999; }
    main .logo-animated .background-overlay {
      background-color: #472147;
      width: 65px;
      height: 65px;
      transform: rotate(45deg); }
    main .logo-animated span {
      text-transform: uppercase;
      color: white;
      display: block; }
    main .logo-animated .m-letter {
      position: absolute;
      top: 16.9px;
      left: 17.225px;
      font-size: 17.55px;
      font-weight: bold; }
    main .logo-animated .j-letter {
      position: absolute;
      top: 12.35px;
      right: 17.55px;
      font-size: 42.25px; }
    main .logo-animated .line {
      height: 2px;
      width: 32.5px;
      background-color: white;
      position: absolute;
      top: 39px;
      left: 4.875px; }
  main .navigation {
    z-index: 999;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    main .navigation .page-title-indented {
      text-indent: -999em; }
    main .navigation .menu-div {
      position: relative;
      left: 25px;
      top: 20px;
      width: 52px;
      height: 52px;
      background-color: #472147;
      border: 1px solid #130913;
      box-shadow: 0px 0px 3px 0px #130913;
      border-radius: 0.5em;
      overflow: hidden;
      cursor: pointer; }
      main .navigation .menu-div .menu-line {
        width: 41.6px;
        position: absolute;
        height: 8px;
        left: 5.2px;
        background-color: #fff;
        border-radius: 0.5em; }
      main .navigation .menu-div .menu-active.line-1 {
        transform: rotate(45deg); }
      main .navigation .menu-div .menu-active.line-2 {
        transform: rotate(-45deg); }
      main .navigation .menu-div .menu-active.line-3 {
        transform: translateY(52px); }
      main .navigation .menu-div .line-1 {
        top: 7px;
        transition: 400ms ease; }
      main .navigation .menu-div .menu-active.line-1 {
        top: 22px; }
      main .navigation .menu-div .line-2 {
        top: 22px;
        transition: 400ms ease; }
      main .navigation .menu-div .menu-active.line-2 {
        top: 22px; }
      main .navigation .menu-div .line-3 {
        top: 37px;
        transition: 400ms ease; }
      main .navigation .menu-div .menu-active.line-3 {
        top: 22px; }
  main .main-content-home {
    height: 100%;
    width: 100%;
    padding-top: 100px; }
    main .main-content-home .animated-circles {
      margin: 6vh auto 0;
      position: relative;
      height: 60vh;
      width: 60vh;
      overflow: hidden; }
      main .main-content-home .animated-circles .circles-container, main .main-content-home .animated-circles .circle {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
      main .main-content-home .animated-circles .circles-container {
        border-radius: 50%;
        overflow: hidden; }
      main .main-content-home .animated-circles .circle {
        background: rgba(255, 255, 255, 0.05);
        border-style: solid;
        border-color: transparent;
        width: 130px;
        height: 130px;
        border-width: 10px;
        border-color: transparent;
        border-radius: 100%;
        transition: 200ms ease; }

@keyframes rotation-circle-1 {
  from {
    transform: rotateZ(1deg) rotateY(1deg) rotateX(0); }
  to {
    transform: rotateZ(1deg) rotateY(1deg) rotateX(360deg); } }

@keyframes rotation-circle-2 {
  from {
    transform: rotateZ(2deg) rotateY(2deg) rotateX(0); }
  to {
    transform: rotateZ(2deg) rotateY(2deg) rotateX(360deg); } }

@keyframes rotation-circle-3 {
  from {
    transform: rotateZ(3deg) rotateY(3deg) rotateX(0); }
  to {
    transform: rotateZ(3deg) rotateY(3deg) rotateX(360deg); } }

@keyframes rotation-circle-4 {
  from {
    transform: rotateZ(4deg) rotateY(4deg) rotateX(0); }
  to {
    transform: rotateZ(4deg) rotateY(4deg) rotateX(360deg); } }

@keyframes rotation-circle-5 {
  from {
    transform: rotateZ(5deg) rotateY(5deg) rotateX(0); }
  to {
    transform: rotateZ(5deg) rotateY(5deg) rotateX(360deg); } }

@keyframes rotation-circle-6 {
  from {
    transform: rotateZ(6deg) rotateY(6deg) rotateX(0); }
  to {
    transform: rotateZ(6deg) rotateY(6deg) rotateX(360deg); } }

@keyframes rotation-circle-7 {
  from {
    transform: rotateZ(7deg) rotateY(7deg) rotateX(0); }
  to {
    transform: rotateZ(7deg) rotateY(7deg) rotateX(360deg); } }

@keyframes rotation-circle-8 {
  from {
    transform: rotateZ(8deg) rotateY(8deg) rotateX(0); }
  to {
    transform: rotateZ(8deg) rotateY(8deg) rotateX(360deg); } }

@keyframes rotation-circle-9 {
  from {
    transform: rotateZ(9deg) rotateY(9deg) rotateX(0); }
  to {
    transform: rotateZ(9deg) rotateY(9deg) rotateX(360deg); } }

@keyframes rotation-circle-10 {
  from {
    transform: rotateZ(10deg) rotateY(10deg) rotateX(0); }
  to {
    transform: rotateZ(10deg) rotateY(10deg) rotateX(360deg); } }

@keyframes rotation-circle-11 {
  from {
    transform: rotateZ(11deg) rotateY(11deg) rotateX(0); }
  to {
    transform: rotateZ(11deg) rotateY(11deg) rotateX(360deg); } }

@keyframes rotation-circle-12 {
  from {
    transform: rotateZ(12deg) rotateY(12deg) rotateX(0); }
  to {
    transform: rotateZ(12deg) rotateY(12deg) rotateX(360deg); } }

@keyframes rotation-circle-13 {
  from {
    transform: rotateZ(13deg) rotateY(13deg) rotateX(0); }
  to {
    transform: rotateZ(13deg) rotateY(13deg) rotateX(360deg); } }

@keyframes rotation-circle-14 {
  from {
    transform: rotateZ(14deg) rotateY(14deg) rotateX(0); }
  to {
    transform: rotateZ(14deg) rotateY(14deg) rotateX(360deg); } }

@keyframes rotation-circle-15 {
  from {
    transform: rotateZ(15deg) rotateY(15deg) rotateX(0); }
  to {
    transform: rotateZ(15deg) rotateY(15deg) rotateX(360deg); } }

@keyframes rotation-circle-16 {
  from {
    transform: rotateZ(16deg) rotateY(16deg) rotateX(0); }
  to {
    transform: rotateZ(16deg) rotateY(16deg) rotateX(360deg); } }

@keyframes rotation-circle-17 {
  from {
    transform: rotateZ(17deg) rotateY(17deg) rotateX(0); }
  to {
    transform: rotateZ(17deg) rotateY(17deg) rotateX(360deg); } }

@keyframes rotation-circle-18 {
  from {
    transform: rotateZ(18deg) rotateY(18deg) rotateX(0); }
  to {
    transform: rotateZ(18deg) rotateY(18deg) rotateX(360deg); } }

@keyframes rotation-circle-19 {
  from {
    transform: rotateZ(19deg) rotateY(19deg) rotateX(0); }
  to {
    transform: rotateZ(19deg) rotateY(19deg) rotateX(360deg); } }

@keyframes rotation-circle-20 {
  from {
    transform: rotateZ(20deg) rotateY(20deg) rotateX(0); }
  to {
    transform: rotateZ(20deg) rotateY(20deg) rotateX(360deg); } }

@keyframes rotation-circle-21 {
  from {
    transform: rotateZ(21deg) rotateY(21deg) rotateX(0); }
  to {
    transform: rotateZ(21deg) rotateY(21deg) rotateX(360deg); } }

@keyframes rotation-circle-22 {
  from {
    transform: rotateZ(22deg) rotateY(22deg) rotateX(0); }
  to {
    transform: rotateZ(22deg) rotateY(22deg) rotateX(360deg); } }

@keyframes rotation-circle-23 {
  from {
    transform: rotateZ(23deg) rotateY(23deg) rotateX(0); }
  to {
    transform: rotateZ(23deg) rotateY(23deg) rotateX(360deg); } }

@keyframes rotation-circle-24 {
  from {
    transform: rotateZ(24deg) rotateY(24deg) rotateX(0); }
  to {
    transform: rotateZ(24deg) rotateY(24deg) rotateX(360deg); } }

@keyframes rotation-circle-25 {
  from {
    transform: rotateZ(25deg) rotateY(25deg) rotateX(0); }
  to {
    transform: rotateZ(25deg) rotateY(25deg) rotateX(360deg); } }

@keyframes rotation-circle-26 {
  from {
    transform: rotateZ(26deg) rotateY(26deg) rotateX(0); }
  to {
    transform: rotateZ(26deg) rotateY(26deg) rotateX(360deg); } }

@keyframes rotation-circle-27 {
  from {
    transform: rotateZ(27deg) rotateY(27deg) rotateX(0); }
  to {
    transform: rotateZ(27deg) rotateY(27deg) rotateX(360deg); } }

@keyframes rotation-circle-28 {
  from {
    transform: rotateZ(28deg) rotateY(28deg) rotateX(0); }
  to {
    transform: rotateZ(28deg) rotateY(28deg) rotateX(360deg); } }

@keyframes rotation-circle-29 {
  from {
    transform: rotateZ(29deg) rotateY(29deg) rotateX(0); }
  to {
    transform: rotateZ(29deg) rotateY(29deg) rotateX(360deg); } }

@keyframes rotation-circle-30 {
  from {
    transform: rotateZ(30deg) rotateY(30deg) rotateX(0); }
  to {
    transform: rotateZ(30deg) rotateY(30deg) rotateX(360deg); } }

@keyframes rotation-circle-31 {
  from {
    transform: rotateZ(31deg) rotateY(31deg) rotateX(0); }
  to {
    transform: rotateZ(31deg) rotateY(31deg) rotateX(360deg); } }

@keyframes rotation-circle-32 {
  from {
    transform: rotateZ(32deg) rotateY(32deg) rotateX(0); }
  to {
    transform: rotateZ(32deg) rotateY(32deg) rotateX(360deg); } }

@keyframes rotation-circle-33 {
  from {
    transform: rotateZ(33deg) rotateY(33deg) rotateX(0); }
  to {
    transform: rotateZ(33deg) rotateY(33deg) rotateX(360deg); } }

@keyframes rotation-circle-34 {
  from {
    transform: rotateZ(34deg) rotateY(34deg) rotateX(0); }
  to {
    transform: rotateZ(34deg) rotateY(34deg) rotateX(360deg); } }

@keyframes rotation-circle-35 {
  from {
    transform: rotateZ(35deg) rotateY(35deg) rotateX(0); }
  to {
    transform: rotateZ(35deg) rotateY(35deg) rotateX(360deg); } }

@keyframes rotation-circle-36 {
  from {
    transform: rotateZ(36deg) rotateY(36deg) rotateX(0); }
  to {
    transform: rotateZ(36deg) rotateY(36deg) rotateX(360deg); } }

@keyframes rotation-circle-37 {
  from {
    transform: rotateZ(37deg) rotateY(37deg) rotateX(0); }
  to {
    transform: rotateZ(37deg) rotateY(37deg) rotateX(360deg); } }

@keyframes rotation-circle-38 {
  from {
    transform: rotateZ(38deg) rotateY(38deg) rotateX(0); }
  to {
    transform: rotateZ(38deg) rotateY(38deg) rotateX(360deg); } }

@keyframes rotation-circle-39 {
  from {
    transform: rotateZ(39deg) rotateY(39deg) rotateX(0); }
  to {
    transform: rotateZ(39deg) rotateY(39deg) rotateX(360deg); } }

@keyframes rotation-circle-40 {
  from {
    transform: rotateZ(40deg) rotateY(40deg) rotateX(0); }
  to {
    transform: rotateZ(40deg) rotateY(40deg) rotateX(360deg); } }

@keyframes rotation-circle-41 {
  from {
    transform: rotateZ(41deg) rotateY(41deg) rotateX(0); }
  to {
    transform: rotateZ(41deg) rotateY(41deg) rotateX(360deg); } }

@keyframes rotation-circle-42 {
  from {
    transform: rotateZ(42deg) rotateY(42deg) rotateX(0); }
  to {
    transform: rotateZ(42deg) rotateY(42deg) rotateX(360deg); } }

@keyframes rotation-circle-43 {
  from {
    transform: rotateZ(43deg) rotateY(43deg) rotateX(0); }
  to {
    transform: rotateZ(43deg) rotateY(43deg) rotateX(360deg); } }

@keyframes rotation-circle-44 {
  from {
    transform: rotateZ(44deg) rotateY(44deg) rotateX(0); }
  to {
    transform: rotateZ(44deg) rotateY(44deg) rotateX(360deg); } }

@keyframes rotation-circle-45 {
  from {
    transform: rotateZ(45deg) rotateY(45deg) rotateX(0); }
  to {
    transform: rotateZ(45deg) rotateY(45deg) rotateX(360deg); } }

@keyframes rotation-circle-46 {
  from {
    transform: rotateZ(46deg) rotateY(46deg) rotateX(0); }
  to {
    transform: rotateZ(46deg) rotateY(46deg) rotateX(360deg); } }

@keyframes rotation-circle-47 {
  from {
    transform: rotateZ(47deg) rotateY(47deg) rotateX(0); }
  to {
    transform: rotateZ(47deg) rotateY(47deg) rotateX(360deg); } }

@keyframes rotation-circle-48 {
  from {
    transform: rotateZ(48deg) rotateY(48deg) rotateX(0); }
  to {
    transform: rotateZ(48deg) rotateY(48deg) rotateX(360deg); } }

@keyframes rotation-circle-49 {
  from {
    transform: rotateZ(49deg) rotateY(49deg) rotateX(0); }
  to {
    transform: rotateZ(49deg) rotateY(49deg) rotateX(360deg); } }

@keyframes rotation-circle-50 {
  from {
    transform: rotateZ(50deg) rotateY(50deg) rotateX(0); }
  to {
    transform: rotateZ(50deg) rotateY(50deg) rotateX(360deg); } }

@keyframes rotation-circle-51 {
  from {
    transform: rotateZ(51deg) rotateY(51deg) rotateX(0); }
  to {
    transform: rotateZ(51deg) rotateY(51deg) rotateX(360deg); } }

@keyframes rotation-circle-52 {
  from {
    transform: rotateZ(52deg) rotateY(52deg) rotateX(0); }
  to {
    transform: rotateZ(52deg) rotateY(52deg) rotateX(360deg); } }

@keyframes rotation-circle-53 {
  from {
    transform: rotateZ(53deg) rotateY(53deg) rotateX(0); }
  to {
    transform: rotateZ(53deg) rotateY(53deg) rotateX(360deg); } }

@keyframes rotation-circle-54 {
  from {
    transform: rotateZ(54deg) rotateY(54deg) rotateX(0); }
  to {
    transform: rotateZ(54deg) rotateY(54deg) rotateX(360deg); } }

@keyframes rotation-circle-55 {
  from {
    transform: rotateZ(55deg) rotateY(55deg) rotateX(0); }
  to {
    transform: rotateZ(55deg) rotateY(55deg) rotateX(360deg); } }

@keyframes rotation-circle-56 {
  from {
    transform: rotateZ(56deg) rotateY(56deg) rotateX(0); }
  to {
    transform: rotateZ(56deg) rotateY(56deg) rotateX(360deg); } }

@keyframes rotation-circle-57 {
  from {
    transform: rotateZ(57deg) rotateY(57deg) rotateX(0); }
  to {
    transform: rotateZ(57deg) rotateY(57deg) rotateX(360deg); } }

@keyframes rotation-circle-58 {
  from {
    transform: rotateZ(58deg) rotateY(58deg) rotateX(0); }
  to {
    transform: rotateZ(58deg) rotateY(58deg) rotateX(360deg); } }

@keyframes rotation-circle-59 {
  from {
    transform: rotateZ(59deg) rotateY(59deg) rotateX(0); }
  to {
    transform: rotateZ(59deg) rotateY(59deg) rotateX(360deg); } }

@keyframes rotation-circle-60 {
  from {
    transform: rotateZ(60deg) rotateY(60deg) rotateX(0); }
  to {
    transform: rotateZ(60deg) rotateY(60deg) rotateX(360deg); } }

@keyframes rotation-circle-61 {
  from {
    transform: rotateZ(61deg) rotateY(61deg) rotateX(0); }
  to {
    transform: rotateZ(61deg) rotateY(61deg) rotateX(360deg); } }

@keyframes rotation-circle-62 {
  from {
    transform: rotateZ(62deg) rotateY(62deg) rotateX(0); }
  to {
    transform: rotateZ(62deg) rotateY(62deg) rotateX(360deg); } }

@keyframes rotation-circle-63 {
  from {
    transform: rotateZ(63deg) rotateY(63deg) rotateX(0); }
  to {
    transform: rotateZ(63deg) rotateY(63deg) rotateX(360deg); } }

@keyframes rotation-circle-64 {
  from {
    transform: rotateZ(64deg) rotateY(64deg) rotateX(0); }
  to {
    transform: rotateZ(64deg) rotateY(64deg) rotateX(360deg); } }

@keyframes rotation-circle-65 {
  from {
    transform: rotateZ(65deg) rotateY(65deg) rotateX(0); }
  to {
    transform: rotateZ(65deg) rotateY(65deg) rotateX(360deg); } }

@keyframes rotation-circle-66 {
  from {
    transform: rotateZ(66deg) rotateY(66deg) rotateX(0); }
  to {
    transform: rotateZ(66deg) rotateY(66deg) rotateX(360deg); } }

@keyframes rotation-circle-67 {
  from {
    transform: rotateZ(67deg) rotateY(67deg) rotateX(0); }
  to {
    transform: rotateZ(67deg) rotateY(67deg) rotateX(360deg); } }

@keyframes rotation-circle-68 {
  from {
    transform: rotateZ(68deg) rotateY(68deg) rotateX(0); }
  to {
    transform: rotateZ(68deg) rotateY(68deg) rotateX(360deg); } }

@keyframes rotation-circle-69 {
  from {
    transform: rotateZ(69deg) rotateY(69deg) rotateX(0); }
  to {
    transform: rotateZ(69deg) rotateY(69deg) rotateX(360deg); } }

@keyframes rotation-circle-70 {
  from {
    transform: rotateZ(70deg) rotateY(70deg) rotateX(0); }
  to {
    transform: rotateZ(70deg) rotateY(70deg) rotateX(360deg); } }

@keyframes rotation-circle-71 {
  from {
    transform: rotateZ(71deg) rotateY(71deg) rotateX(0); }
  to {
    transform: rotateZ(71deg) rotateY(71deg) rotateX(360deg); } }

@keyframes rotation-circle-72 {
  from {
    transform: rotateZ(72deg) rotateY(72deg) rotateX(0); }
  to {
    transform: rotateZ(72deg) rotateY(72deg) rotateX(360deg); } }

@keyframes rotation-circle-73 {
  from {
    transform: rotateZ(73deg) rotateY(73deg) rotateX(0); }
  to {
    transform: rotateZ(73deg) rotateY(73deg) rotateX(360deg); } }

@keyframes rotation-circle-74 {
  from {
    transform: rotateZ(74deg) rotateY(74deg) rotateX(0); }
  to {
    transform: rotateZ(74deg) rotateY(74deg) rotateX(360deg); } }

@keyframes rotation-circle-75 {
  from {
    transform: rotateZ(75deg) rotateY(75deg) rotateX(0); }
  to {
    transform: rotateZ(75deg) rotateY(75deg) rotateX(360deg); } }

@keyframes rotation-circle-76 {
  from {
    transform: rotateZ(76deg) rotateY(76deg) rotateX(0); }
  to {
    transform: rotateZ(76deg) rotateY(76deg) rotateX(360deg); } }

@keyframes rotation-circle-77 {
  from {
    transform: rotateZ(77deg) rotateY(77deg) rotateX(0); }
  to {
    transform: rotateZ(77deg) rotateY(77deg) rotateX(360deg); } }

@keyframes rotation-circle-78 {
  from {
    transform: rotateZ(78deg) rotateY(78deg) rotateX(0); }
  to {
    transform: rotateZ(78deg) rotateY(78deg) rotateX(360deg); } }

@keyframes rotation-circle-79 {
  from {
    transform: rotateZ(79deg) rotateY(79deg) rotateX(0); }
  to {
    transform: rotateZ(79deg) rotateY(79deg) rotateX(360deg); } }

@keyframes rotation-circle-80 {
  from {
    transform: rotateZ(80deg) rotateY(80deg) rotateX(0); }
  to {
    transform: rotateZ(80deg) rotateY(80deg) rotateX(360deg); } }

@keyframes rotation-circle-81 {
  from {
    transform: rotateZ(81deg) rotateY(81deg) rotateX(0); }
  to {
    transform: rotateZ(81deg) rotateY(81deg) rotateX(360deg); } }

@keyframes rotation-circle-82 {
  from {
    transform: rotateZ(82deg) rotateY(82deg) rotateX(0); }
  to {
    transform: rotateZ(82deg) rotateY(82deg) rotateX(360deg); } }

@keyframes rotation-circle-83 {
  from {
    transform: rotateZ(83deg) rotateY(83deg) rotateX(0); }
  to {
    transform: rotateZ(83deg) rotateY(83deg) rotateX(360deg); } }

@keyframes rotation-circle-84 {
  from {
    transform: rotateZ(84deg) rotateY(84deg) rotateX(0); }
  to {
    transform: rotateZ(84deg) rotateY(84deg) rotateX(360deg); } }

@keyframes rotation-circle-85 {
  from {
    transform: rotateZ(85deg) rotateY(85deg) rotateX(0); }
  to {
    transform: rotateZ(85deg) rotateY(85deg) rotateX(360deg); } }

@keyframes rotation-circle-86 {
  from {
    transform: rotateZ(86deg) rotateY(86deg) rotateX(0); }
  to {
    transform: rotateZ(86deg) rotateY(86deg) rotateX(360deg); } }

@keyframes rotation-circle-87 {
  from {
    transform: rotateZ(87deg) rotateY(87deg) rotateX(0); }
  to {
    transform: rotateZ(87deg) rotateY(87deg) rotateX(360deg); } }

@keyframes rotation-circle-88 {
  from {
    transform: rotateZ(88deg) rotateY(88deg) rotateX(0); }
  to {
    transform: rotateZ(88deg) rotateY(88deg) rotateX(360deg); } }

@keyframes rotation-circle-89 {
  from {
    transform: rotateZ(89deg) rotateY(89deg) rotateX(0); }
  to {
    transform: rotateZ(89deg) rotateY(89deg) rotateX(360deg); } }

@keyframes rotation-circle-90 {
  from {
    transform: rotateZ(90deg) rotateY(90deg) rotateX(0); }
  to {
    transform: rotateZ(90deg) rotateY(90deg) rotateX(360deg); } }

@keyframes rotation-circle-91 {
  from {
    transform: rotateZ(91deg) rotateY(91deg) rotateX(0); }
  to {
    transform: rotateZ(91deg) rotateY(91deg) rotateX(360deg); } }

@keyframes rotation-circle-92 {
  from {
    transform: rotateZ(92deg) rotateY(92deg) rotateX(0); }
  to {
    transform: rotateZ(92deg) rotateY(92deg) rotateX(360deg); } }

@keyframes rotation-circle-93 {
  from {
    transform: rotateZ(93deg) rotateY(93deg) rotateX(0); }
  to {
    transform: rotateZ(93deg) rotateY(93deg) rotateX(360deg); } }

@keyframes rotation-circle-94 {
  from {
    transform: rotateZ(94deg) rotateY(94deg) rotateX(0); }
  to {
    transform: rotateZ(94deg) rotateY(94deg) rotateX(360deg); } }

@keyframes rotation-circle-95 {
  from {
    transform: rotateZ(95deg) rotateY(95deg) rotateX(0); }
  to {
    transform: rotateZ(95deg) rotateY(95deg) rotateX(360deg); } }

@keyframes rotation-circle-96 {
  from {
    transform: rotateZ(96deg) rotateY(96deg) rotateX(0); }
  to {
    transform: rotateZ(96deg) rotateY(96deg) rotateX(360deg); } }

@keyframes rotation-circle-97 {
  from {
    transform: rotateZ(97deg) rotateY(97deg) rotateX(0); }
  to {
    transform: rotateZ(97deg) rotateY(97deg) rotateX(360deg); } }

@keyframes rotation-circle-98 {
  from {
    transform: rotateZ(98deg) rotateY(98deg) rotateX(0); }
  to {
    transform: rotateZ(98deg) rotateY(98deg) rotateX(360deg); } }

@keyframes rotation-circle-99 {
  from {
    transform: rotateZ(99deg) rotateY(99deg) rotateX(0); }
  to {
    transform: rotateZ(99deg) rotateY(99deg) rotateX(360deg); } }

@keyframes rotation-circle-100 {
  from {
    transform: rotateZ(100deg) rotateY(100deg) rotateX(0); }
  to {
    transform: rotateZ(100deg) rotateY(100deg) rotateX(360deg); } }

@keyframes rotation-circle-101 {
  from {
    transform: rotateZ(101deg) rotateY(101deg) rotateX(0); }
  to {
    transform: rotateZ(101deg) rotateY(101deg) rotateX(360deg); } }

@keyframes rotation-circle-102 {
  from {
    transform: rotateZ(102deg) rotateY(102deg) rotateX(0); }
  to {
    transform: rotateZ(102deg) rotateY(102deg) rotateX(360deg); } }

@keyframes rotation-circle-103 {
  from {
    transform: rotateZ(103deg) rotateY(103deg) rotateX(0); }
  to {
    transform: rotateZ(103deg) rotateY(103deg) rotateX(360deg); } }

@keyframes rotation-circle-104 {
  from {
    transform: rotateZ(104deg) rotateY(104deg) rotateX(0); }
  to {
    transform: rotateZ(104deg) rotateY(104deg) rotateX(360deg); } }

@keyframes rotation-circle-105 {
  from {
    transform: rotateZ(105deg) rotateY(105deg) rotateX(0); }
  to {
    transform: rotateZ(105deg) rotateY(105deg) rotateX(360deg); } }

@keyframes rotation-circle-106 {
  from {
    transform: rotateZ(106deg) rotateY(106deg) rotateX(0); }
  to {
    transform: rotateZ(106deg) rotateY(106deg) rotateX(360deg); } }

@keyframes rotation-circle-107 {
  from {
    transform: rotateZ(107deg) rotateY(107deg) rotateX(0); }
  to {
    transform: rotateZ(107deg) rotateY(107deg) rotateX(360deg); } }

@keyframes rotation-circle-108 {
  from {
    transform: rotateZ(108deg) rotateY(108deg) rotateX(0); }
  to {
    transform: rotateZ(108deg) rotateY(108deg) rotateX(360deg); } }

@keyframes rotation-circle-109 {
  from {
    transform: rotateZ(109deg) rotateY(109deg) rotateX(0); }
  to {
    transform: rotateZ(109deg) rotateY(109deg) rotateX(360deg); } }

@keyframes rotation-circle-110 {
  from {
    transform: rotateZ(110deg) rotateY(110deg) rotateX(0); }
  to {
    transform: rotateZ(110deg) rotateY(110deg) rotateX(360deg); } }

@keyframes rotation-circle-111 {
  from {
    transform: rotateZ(111deg) rotateY(111deg) rotateX(0); }
  to {
    transform: rotateZ(111deg) rotateY(111deg) rotateX(360deg); } }

@keyframes rotation-circle-112 {
  from {
    transform: rotateZ(112deg) rotateY(112deg) rotateX(0); }
  to {
    transform: rotateZ(112deg) rotateY(112deg) rotateX(360deg); } }

@keyframes rotation-circle-113 {
  from {
    transform: rotateZ(113deg) rotateY(113deg) rotateX(0); }
  to {
    transform: rotateZ(113deg) rotateY(113deg) rotateX(360deg); } }

@keyframes rotation-circle-114 {
  from {
    transform: rotateZ(114deg) rotateY(114deg) rotateX(0); }
  to {
    transform: rotateZ(114deg) rotateY(114deg) rotateX(360deg); } }

@keyframes rotation-circle-115 {
  from {
    transform: rotateZ(115deg) rotateY(115deg) rotateX(0); }
  to {
    transform: rotateZ(115deg) rotateY(115deg) rotateX(360deg); } }

@keyframes rotation-circle-116 {
  from {
    transform: rotateZ(116deg) rotateY(116deg) rotateX(0); }
  to {
    transform: rotateZ(116deg) rotateY(116deg) rotateX(360deg); } }

@keyframes rotation-circle-117 {
  from {
    transform: rotateZ(117deg) rotateY(117deg) rotateX(0); }
  to {
    transform: rotateZ(117deg) rotateY(117deg) rotateX(360deg); } }

@keyframes rotation-circle-118 {
  from {
    transform: rotateZ(118deg) rotateY(118deg) rotateX(0); }
  to {
    transform: rotateZ(118deg) rotateY(118deg) rotateX(360deg); } }

@keyframes rotation-circle-119 {
  from {
    transform: rotateZ(119deg) rotateY(119deg) rotateX(0); }
  to {
    transform: rotateZ(119deg) rotateY(119deg) rotateX(360deg); } }

@keyframes rotation-circle-120 {
  from {
    transform: rotateZ(120deg) rotateY(120deg) rotateX(0); }
  to {
    transform: rotateZ(120deg) rotateY(120deg) rotateX(360deg); } }
      main .main-content-home .animated-circles .circle-1 {
        animation: rotation-circle-1 2s infinite linear; }
      main .main-content-home .animated-circles .circle-2 {
        animation: rotation-circle-2 2s infinite linear; }
      main .main-content-home .animated-circles .circle-3 {
        animation: rotation-circle-3 2s infinite linear; }
      main .main-content-home .animated-circles .circle-4 {
        animation: rotation-circle-4 2s infinite linear; }
      main .main-content-home .animated-circles .circle-5 {
        animation: rotation-circle-5 2s infinite linear; }
      main .main-content-home .animated-circles .circle-6 {
        animation: rotation-circle-6 2s infinite linear; }
      main .main-content-home .animated-circles .circle-7 {
        animation: rotation-circle-7 2s infinite linear; }
      main .main-content-home .animated-circles .circle-8 {
        animation: rotation-circle-8 2s infinite linear; }
      main .main-content-home .animated-circles .circle-9 {
        animation: rotation-circle-9 2s infinite linear; }
      main .main-content-home .animated-circles .circle-10 {
        animation: rotation-circle-10 2s infinite linear; }
      main .main-content-home .animated-circles .circle-11 {
        animation: rotation-circle-11 2s infinite linear; }
      main .main-content-home .animated-circles .circle-12 {
        animation: rotation-circle-12 2s infinite linear; }
      main .main-content-home .animated-circles .circle-13 {
        animation: rotation-circle-13 2s infinite linear; }
      main .main-content-home .animated-circles .circle-14 {
        animation: rotation-circle-14 2s infinite linear; }
      main .main-content-home .animated-circles .circle-15 {
        animation: rotation-circle-15 2s infinite linear; }
      main .main-content-home .animated-circles .circle-16 {
        animation: rotation-circle-16 2s infinite linear; }
      main .main-content-home .animated-circles .circle-17 {
        animation: rotation-circle-17 2s infinite linear; }
      main .main-content-home .animated-circles .circle-18 {
        animation: rotation-circle-18 2s infinite linear; }
      main .main-content-home .animated-circles .circle-19 {
        animation: rotation-circle-19 2s infinite linear; }
      main .main-content-home .animated-circles .circle-20 {
        animation: rotation-circle-20 2s infinite linear; }
      main .main-content-home .animated-circles .circle-21 {
        animation: rotation-circle-21 2s infinite linear; }
      main .main-content-home .animated-circles .circle-22 {
        animation: rotation-circle-22 2s infinite linear; }
      main .main-content-home .animated-circles .circle-23 {
        animation: rotation-circle-23 2s infinite linear; }
      main .main-content-home .animated-circles .circle-24 {
        animation: rotation-circle-24 2s infinite linear; }
      main .main-content-home .animated-circles .circle-25 {
        animation: rotation-circle-25 2s infinite linear; }
      main .main-content-home .animated-circles .circle-26 {
        animation: rotation-circle-26 2s infinite linear; }
      main .main-content-home .animated-circles .circle-27 {
        animation: rotation-circle-27 2s infinite linear; }
      main .main-content-home .animated-circles .circle-28 {
        animation: rotation-circle-28 2s infinite linear; }
      main .main-content-home .animated-circles .circle-29 {
        animation: rotation-circle-29 2s infinite linear; }
      main .main-content-home .animated-circles .circle-30 {
        animation: rotation-circle-30 2s infinite linear; }
      main .main-content-home .animated-circles .circle-31 {
        animation: rotation-circle-31 2s infinite linear; }
      main .main-content-home .animated-circles .circle-32 {
        animation: rotation-circle-32 2s infinite linear; }
      main .main-content-home .animated-circles .circle-33 {
        animation: rotation-circle-33 2s infinite linear; }
      main .main-content-home .animated-circles .circle-34 {
        animation: rotation-circle-34 2s infinite linear; }
      main .main-content-home .animated-circles .circle-35 {
        animation: rotation-circle-35 2s infinite linear; }
      main .main-content-home .animated-circles .circle-36 {
        animation: rotation-circle-36 2s infinite linear; }
      main .main-content-home .animated-circles .circle-37 {
        animation: rotation-circle-37 2s infinite linear; }
      main .main-content-home .animated-circles .circle-38 {
        animation: rotation-circle-38 2s infinite linear; }
      main .main-content-home .animated-circles .circle-39 {
        animation: rotation-circle-39 2s infinite linear; }
      main .main-content-home .animated-circles .circle-40 {
        animation: rotation-circle-40 2s infinite linear; }
      main .main-content-home .animated-circles .circle-41 {
        animation: rotation-circle-41 2s infinite linear; }
      main .main-content-home .animated-circles .circle-42 {
        animation: rotation-circle-42 2s infinite linear; }
      main .main-content-home .animated-circles .circle-43 {
        animation: rotation-circle-43 2s infinite linear; }
      main .main-content-home .animated-circles .circle-44 {
        animation: rotation-circle-44 2s infinite linear; }
      main .main-content-home .animated-circles .circle-45 {
        animation: rotation-circle-45 2s infinite linear; }
      main .main-content-home .animated-circles .circle-46 {
        animation: rotation-circle-46 2s infinite linear; }
      main .main-content-home .animated-circles .circle-47 {
        animation: rotation-circle-47 2s infinite linear; }
      main .main-content-home .animated-circles .circle-48 {
        animation: rotation-circle-48 2s infinite linear; }
      main .main-content-home .animated-circles .circle-49 {
        animation: rotation-circle-49 2s infinite linear; }
      main .main-content-home .animated-circles .circle-50 {
        animation: rotation-circle-50 2s infinite linear; }
      main .main-content-home .animated-circles .circle-51 {
        animation: rotation-circle-51 2s infinite linear; }
      main .main-content-home .animated-circles .circle-52 {
        animation: rotation-circle-52 2s infinite linear; }
      main .main-content-home .animated-circles .circle-53 {
        animation: rotation-circle-53 2s infinite linear; }
      main .main-content-home .animated-circles .circle-54 {
        animation: rotation-circle-54 2s infinite linear; }
      main .main-content-home .animated-circles .circle-55 {
        animation: rotation-circle-55 2s infinite linear; }
      main .main-content-home .animated-circles .circle-56 {
        animation: rotation-circle-56 2s infinite linear; }
      main .main-content-home .animated-circles .circle-57 {
        animation: rotation-circle-57 2s infinite linear; }
      main .main-content-home .animated-circles .circle-58 {
        animation: rotation-circle-58 2s infinite linear; }
      main .main-content-home .animated-circles .circle-59 {
        animation: rotation-circle-59 2s infinite linear; }
      main .main-content-home .animated-circles .circle-60 {
        animation: rotation-circle-60 2s infinite linear; }
      main .main-content-home .animated-circles .circle-61 {
        animation: rotation-circle-61 2s infinite linear; }
      main .main-content-home .animated-circles .circle-62 {
        animation: rotation-circle-62 2s infinite linear; }
      main .main-content-home .animated-circles .circle-63 {
        animation: rotation-circle-63 2s infinite linear; }
      main .main-content-home .animated-circles .circle-64 {
        animation: rotation-circle-64 2s infinite linear; }
      main .main-content-home .animated-circles .circle-65 {
        animation: rotation-circle-65 2s infinite linear; }
      main .main-content-home .animated-circles .circle-66 {
        animation: rotation-circle-66 2s infinite linear; }
      main .main-content-home .animated-circles .circle-67 {
        animation: rotation-circle-67 2s infinite linear; }
      main .main-content-home .animated-circles .circle-68 {
        animation: rotation-circle-68 2s infinite linear; }
      main .main-content-home .animated-circles .circle-69 {
        animation: rotation-circle-69 2s infinite linear; }
      main .main-content-home .animated-circles .circle-70 {
        animation: rotation-circle-70 2s infinite linear; }
      main .main-content-home .animated-circles .circle-71 {
        animation: rotation-circle-71 2s infinite linear; }
      main .main-content-home .animated-circles .circle-72 {
        animation: rotation-circle-72 2s infinite linear; }
      main .main-content-home .animated-circles .circle-73 {
        animation: rotation-circle-73 2s infinite linear; }
      main .main-content-home .animated-circles .circle-74 {
        animation: rotation-circle-74 2s infinite linear; }
      main .main-content-home .animated-circles .circle-75 {
        animation: rotation-circle-75 2s infinite linear; }
      main .main-content-home .animated-circles .circle-76 {
        animation: rotation-circle-76 2s infinite linear; }
      main .main-content-home .animated-circles .circle-77 {
        animation: rotation-circle-77 2s infinite linear; }
      main .main-content-home .animated-circles .circle-78 {
        animation: rotation-circle-78 2s infinite linear; }
      main .main-content-home .animated-circles .circle-79 {
        animation: rotation-circle-79 2s infinite linear; }
      main .main-content-home .animated-circles .circle-80 {
        animation: rotation-circle-80 2s infinite linear; }
      main .main-content-home .animated-circles .circle-81 {
        animation: rotation-circle-81 2s infinite linear; }
      main .main-content-home .animated-circles .circle-82 {
        animation: rotation-circle-82 2s infinite linear; }
      main .main-content-home .animated-circles .circle-83 {
        animation: rotation-circle-83 2s infinite linear; }
      main .main-content-home .animated-circles .circle-84 {
        animation: rotation-circle-84 2s infinite linear; }
      main .main-content-home .animated-circles .circle-85 {
        animation: rotation-circle-85 2s infinite linear; }
      main .main-content-home .animated-circles .circle-86 {
        animation: rotation-circle-86 2s infinite linear; }
      main .main-content-home .animated-circles .circle-87 {
        animation: rotation-circle-87 2s infinite linear; }
      main .main-content-home .animated-circles .circle-88 {
        animation: rotation-circle-88 2s infinite linear; }
      main .main-content-home .animated-circles .circle-89 {
        animation: rotation-circle-89 2s infinite linear; }
      main .main-content-home .animated-circles .circle-90 {
        animation: rotation-circle-90 2s infinite linear; }
      main .main-content-home .animated-circles .circle-91 {
        animation: rotation-circle-91 2s infinite linear; }
      main .main-content-home .animated-circles .circle-92 {
        animation: rotation-circle-92 2s infinite linear; }
      main .main-content-home .animated-circles .circle-93 {
        animation: rotation-circle-93 2s infinite linear; }
      main .main-content-home .animated-circles .circle-94 {
        animation: rotation-circle-94 2s infinite linear; }
      main .main-content-home .animated-circles .circle-95 {
        animation: rotation-circle-95 2s infinite linear; }
      main .main-content-home .animated-circles .circle-96 {
        animation: rotation-circle-96 2s infinite linear; }
      main .main-content-home .animated-circles .circle-97 {
        animation: rotation-circle-97 2s infinite linear; }
      main .main-content-home .animated-circles .circle-98 {
        animation: rotation-circle-98 2s infinite linear; }
      main .main-content-home .animated-circles .circle-99 {
        animation: rotation-circle-99 2s infinite linear; }
      main .main-content-home .animated-circles .circle-100 {
        animation: rotation-circle-100 2s infinite linear; }
      main .main-content-home .animated-circles .circle-101 {
        animation: rotation-circle-101 2s infinite linear; }
      main .main-content-home .animated-circles .circle-102 {
        animation: rotation-circle-102 2s infinite linear; }
      main .main-content-home .animated-circles .circle-103 {
        animation: rotation-circle-103 2s infinite linear; }
      main .main-content-home .animated-circles .circle-104 {
        animation: rotation-circle-104 2s infinite linear; }
      main .main-content-home .animated-circles .circle-105 {
        animation: rotation-circle-105 2s infinite linear; }
      main .main-content-home .animated-circles .circle-106 {
        animation: rotation-circle-106 2s infinite linear; }
      main .main-content-home .animated-circles .circle-107 {
        animation: rotation-circle-107 2s infinite linear; }
      main .main-content-home .animated-circles .circle-108 {
        animation: rotation-circle-108 2s infinite linear; }
      main .main-content-home .animated-circles .circle-109 {
        animation: rotation-circle-109 2s infinite linear; }
      main .main-content-home .animated-circles .circle-110 {
        animation: rotation-circle-110 2s infinite linear; }
      main .main-content-home .animated-circles .circle-111 {
        animation: rotation-circle-111 2s infinite linear; }
      main .main-content-home .animated-circles .circle-112 {
        animation: rotation-circle-112 2s infinite linear; }
      main .main-content-home .animated-circles .circle-113 {
        animation: rotation-circle-113 2s infinite linear; }
      main .main-content-home .animated-circles .circle-114 {
        animation: rotation-circle-114 2s infinite linear; }
      main .main-content-home .animated-circles .circle-115 {
        animation: rotation-circle-115 2s infinite linear; }
      main .main-content-home .animated-circles .circle-116 {
        animation: rotation-circle-116 2s infinite linear; }
      main .main-content-home .animated-circles .circle-117 {
        animation: rotation-circle-117 2s infinite linear; }
      main .main-content-home .animated-circles .circle-118 {
        animation: rotation-circle-118 2s infinite linear; }
      main .main-content-home .animated-circles .circle-119 {
        animation: rotation-circle-119 2s infinite linear; }
      main .main-content-home .animated-circles .circle-120 {
        animation: rotation-circle-120 2s infinite linear; }
    main .main-content-home .title {
      text-align: center;
      font-size: 28px;
      color: #472147;
      margin-top: 2em; }
  main .main-content-about-me {
    height: 100%;
    width: 100%;
    display: none; }
  main .slide-reload {
    background-color: black;
    width: 50vw;
    height: 100vh;
    transition: 200ms linear; }
    main .slide-reload.slide-reload-left {
      position: fixed;
      top: 0;
      transform: translateX(-100%); }
      main .slide-reload.slide-reload-left:after {
        position: absolute;
        right: 0;
        top: 7px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-top: 46px solid transparent;
        border-right: 46px solid white;
        border-bottom: 46px solid transparent; }
    main .slide-reload.slide-reload-right {
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%); }
      main .slide-reload.slide-reload-right:after {
        position: absolute;
        left: 0;
        top: 6px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-top: 46px solid transparent;
        border-left: 46px solid white;
        border-bottom: 46px solid transparent; }
